@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrumental-sans);
  --font-mono: var(--font-geo-mono);
  --animate-spin: spin 5s linear infinite
}

body {
  background: var(--background);
  color: var(--foreground);
  text-align: center;
}

.content {
  @apply px-5 md:px-10 lg:px-16 xl:px-24;
}

h2 {
  @apply text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-mono;
}

.animate-bounce-slow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounceCustom 2s infinite ease-in-out;
}

@keyframes bounceCustom {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}
